language: ruby
rvm:
  - 2.4

before_install:
  - cd tests

install:
  - gem install bundler
  - bundle install
  - sudo apt-get install chromium-chromedriver
  - sudo ln -s /usr/lib/chromium-browser/chromedriver /usr/bin/chromedriver
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

addons:
  chrome: stable

script: cucumber